<style>
  .btn-outlined.btn-warning {
    background: none;
    border: 3px solid #ef6d3b;
    color: #ef6d3b;
    font-weight: 500;
  }
  .btn-outlined.btn-warning:hover,
  .btn-outlined.btn-warning:active {
    color: #FFF;
    background: #fa8b60;
  }


</style>
<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>dokbot.io</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
            revolutionizing healthcare interaction
      </p>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
      <p>
        <a class="btn btn-outlined btn-block btn-warning" href="/dokbot">Let's Chat</a>
      </p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>
